@font-face {
    font-family: MVCRamadhanFontUtama;
    src: url('../www/css/Lato/Lato-Hairline.ttf');
}

html, body {
    height: 85%;
}
body {
    margin: 0;
    padding: 0;
    width: 100%;
    display: table;
    font-weight: 100;
    font-family: Verdana;
}
.kontainer {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}
.kontent-utama {
    text-align: center;
    display: inline-block;
}
.garis {
    border: 0;
    height: 1px;
    margin-top: 20px;
    margin-bottom: 25px;
    width: 60%;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
.judul {
    font-family: MVCRamadhanFontUtama;
    font-size: 96px;
}
.kontainer button {
    background-color: #337ab7;
    border: 1px solid blue;
    padding: 5px 10px;
    cursor: pointer;
    color: #FFF;
}
.kontainer button:hover {
    background-color: #222;
    color: #fff;
}

.kontainer button#by {
    background-color: #a94442;
    border: 1px solid red;
    padding: 5px 10px;
    cursor: pointer;
    color: #FFF;
}